/* This file is for your main application css. */
@import 'node_modules/font-awesome/scss/font-awesome';
@import '../_scss/course-layout';
@import '../_scss/announcements';

.container {
  margin-top: 60px;
  margin-bottom: 20px;
}

@mixin no-stretch {
  object-fit: cover;
  object-position: center;
}
@mixin fit-round-img($width, $height: $width) {
  @include no-stretch;
  width: $width;
  height: $height;
  border-radius: 50%;
}

.user {
  > .image > img {
    @include fit-round-img(80px);
    margin-right: 0.5em;
  }
}
